*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    padding: 0 15px;
    margin:0 auto;
display:flex;
justify-content: space-between;
}
header .container nav{
    flex:1;
    display:flex;
    justify-content: flex-end;
}
header a{
    text-decoration: none;
    text-transform: capitalize;
    margin-left:10px;
}
header .quest{
    height: 25;
    padding:4px;
    border-radius:50%;
    border:1px solid black;
}
header ul{
    display: flex;

}
@media (max-width:767px){
    header ul{
        width:413;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
}
header ul li{
    list-style:none;
    margin-left:20px;
}
@media (min-width:768px){
    .container{
        width:748;
    }
}
@media (min-width:992px){
    .container{
        width:970;
    }
}
@media (min-width:1200px){
    .container{
        width:1170;
    }
}

/* ///////////////////////////////////////////////////////////////// */


.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-transform: capitalize;
    margin: 2%;
}
 .section .section-i{
margin-left: 22%;
}
input[type="text"]{
    width:55%;
  
    margin:0 5%;
 }
 /*
@media (min-width:768px){
    {
        width:748;
    }
}
@media (min-width:992px){
    {
        width:970;
    }
}
@media (min-width:1200px){
   {
        width:1170;
    }
} */
/* ///////////////////////////////////////////////////////// */
.section1 ul{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

}
.section1 ul li{
list-style: none;
 
 }

.section1 a{
    text-decoration: none;
    text-transform: capitalize;
    color:black;

   
    
}
/* ////////////////////////////////////////////// */
.section2 {
    height:100vh;
    background-image: url("../images/depositphotos_294440306-stock-photo-joyful-couple-carrying-sofa-while.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:2%;
    margin-bottom:2%;
    display: flex;
    justify-content: end;
    align-items: center;

}
.room{
    font-weight: bold;
    font-size: 2rem;
}
.section2 ul {
    display: flex;
    flex-wrap: wrap;
   
}
.section2 ul li{
list-style: none;
margin-left: 3%;
text-transform: uppercase;
font-weight: bold;
font-size:2rem;
}
.section2 .btn{
   font-size: 2rem;
 text-align: center;
color:white;
    background-color: orange;
    border:2px solid orange;
    border-radius: 50px;
    padding: 3%;
    margin-left:10rem ;
    
  
}